<template>
    <body>
        <div class="flex-center position-ref full-height">
            <div class="code">
                404
            </div>
            <div class="message" style="padding: 10px;">
                Not Found
            </div>
        </div>
    </body>
</template>
<script>
export default  
{
    mounted:function()
    {
        //this.$parent.error404();
    }
}
</script>