<template>
  <div>ERROR</div>
</template>

<script>
export default {
    mounted()
    {
      var URLactual = window.location;
      console.log(URLactual,this.$route);
    }
}
</script>

<style>

</style>