<template>
    <div>
        Hola {{text}} con codigo {{$route.params.id}}
    </div>
</template>

<script>
export default {
    data()
    {
        return {
            text:'mundo'
        }
    },
    mounted()
    {
    }
}
</script>

<style>

</style>