<template>
    <div>
        Hola {{text}}
    </div>
</template>
<script>
export default {
    data()
    {
        return {
            text:'mundo'
        }
    },
    methods:{
        saludar()
        {
            alert(123);
        }
    },
    mounted()
    {
        this.saludar();
    }
}
</script>

<style>

</style>